<%= render partial: 'layouts/slider' %>

<div class="featured-content">
  <div class="row-fluid">
    <div class="span6">
      <div class="block">
        <div class="row-fluid">
          <div class="span6">
            <div class="block-title">
              <h1>Teture adip</h1>
              <h2>Risus id mediou soimto
                usce pelle nitesqu it
                nunc sed egesta ante
                gravids peses</h2>
            </div>
          </div>
          <div class="span6">
            <div class="block-content">
              <p>Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.</p>
              <a href="#"  class="btn" ><i class="fw-icon-circle-arrow-right"></i> more</a>
            </div>
          </div>
        </div>
        <div class="ruler"></div>
        <div class="row-fluid">
          <div class="span6">
            <div class="block-title">
              <h1>Morbi interd</h1>
              <h2>Fusce lobortis lorem at
                ipsum semper sagit on
                ec quis dui at dolor
                tempor interdum</h2>
            </div>
          </div>
          <div class="span6">
            <div class="block-content">
              <p>Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.</p>
              <a href="#"  class="btn" ><i class="fw-icon-circle-arrow-right"></i> more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="span6">-->



    <div class="featured-accordion">
      <div class="accordion" id="accordion2">
        <div class="accordion-group accordion-caret">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              Tetuer adipiscing elit lorem
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              <img src=<%= image_path('img5.jpg') %> alt="">
              <h1>Lorem ipsum dolor sit amet</h1>
              <p class="last">consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi Sed egestas, ante et vulputate volutpat is, gravida id</p>
            </div>
          </div>
        </div>
        <div class="accordion-group accordion-caret">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              Sed egestas, ante et vulputate
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body in collapse" style="height: auto;">
            <div class="accordion-inner">
              <img src=<%= image_path('img5.jpg') %> alt="">
              <h1>Lorem ipsum dolor sit amet</h1>
              <p class="last">consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi Sed egestas, ante et vulputate volutpat is, gravida id</p>
            </div>
          </div>
        </div>
        <div class="accordion-group accordion-caret">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              Integer vitae libero ac risus
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              <img src=<%= image_path('img5.jpg') %> alt="">
              <h1>Lorem ipsum dolor sit amet</h1>
              <p class="last">consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi Sed egestas, ante et vulputate volutpat is, gravida id</p>
            </div>
          </div>
        </div>
        <div class="accordion-group accordion-caret">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
              Donec quis dui at dolor
            </a>
          </div>
          <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner">
              <img src=<%= image_path('img5.jpg') %> alt="">
              <h1>Lorem ipsum dolor sit amet</h1>
              <p class="last">consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi Sed egestas, ante et vulputate volutpat is, gravida id</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
